nav .nav-link:hover {
    background-color: black;
    color: white;
    border-radius: 10px;
}

.primary-bg-color {
    background-color: #DDDDDD;
}

/* FAQ  */
#faq {
    margin: 20px auto;
    max-width: 600px;
  }
  
  #faq ul {
    list-style: none;
    padding: 0;
  }
  
  #faq li {
    margin-bottom: 15px;
  }
  
  .faq-question {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 15px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  .faq-answer {
    padding: 10px 15px;
    display: none;
  }
  
  .faq-question.active {
    background-color: #ddd;
  }
  
  .faq-question.active + .faq-answer {
    display: block;
  }